<%= form_for @invoice do |f| %>
<% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-fluid container-fullw">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-white">
        <div class="panel-body">
            <div class="field">
              <%= f.label :Factuurnummer %><br>
              <%= f.text_field :number, placeholder: '2016-0001', id: 'factuurnummer_input', class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label :Munteenheid %><br>
              <%= f.select(:currency, [[' €', '€', title: 'Euro', value: 'EURO'], [' $', '$', title: 'US Dollar', value: 'USD'],
                                       [' £', '£', title: 'GBP Pound', value: 'GBP']], {}, {id: 'invoice_currency'}) %>
            </div>
            <div class="field">
              <%= f.label :factuurdatum %><br>
              <%= f.date_select :date, class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label 'te betalen voor' %><br>
              <%= f.date_select :duedate, class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label :footer %><br>
              <%= f.text_area :footer, id: 'footer-text', class: 'form-control' %>
            </div>
            <div class="actions">
              <%= f.submit 'Opslaan', class: 'btn btn-primary btn-success' %>
              <%= link_to 'Annuleren', invoices_path, class: 'btn btn-primary btn-info' %>
              <a onclick="javascript:window.print();" class="btn btn-primary float-right"> Print <i class="fa fa-print"></i></a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="invoice">
            <div class="row invoice-logo">
              <div class="col-sm-6">
                <img alt="" src="">
              </div>
              <div class="col-sm-6">
                <p class="text-dark">
                  <strong id="factuurnummer_output"></strong> <small class="text-light" id="factuurdatum_output"></small>
                </p>
              </div>
            </div><hr>
            <div class="row">
              <div class="col-sm-4">
                    <div class="well">
                      <address>
                        <%= f.fields_for :customer do |customer| %>
                            <div class="field">
                              <%= customer.label 'Bedrijfsnaam ontvanger', class: 'text-large'  %><br/>
                              <%= customer.text_field :company_name, placeholder: 'bedrijfsnaam', class: 'form-control' %>
                            </div>
                            <div class="field">
                              <%= customer.label 'Adres ontvanger', class: 'text-large' %><br>
                              <%= customer.text_field :address_line_1, placeholder: 'adres ontvanger', class: 'form-control' %>
                            </div>
                            <div class="field">
                              <%= customer.label 'Postcode & stad', class: 'text-large' %><br>
                              <%= customer.text_field :zip_code, placeholder: '1234AB Rotterdam', class: 'form-control' %>
                            </div>
                        <% end %>
                      </address>
                    </div>
              </div>
              <div class="col-sm-4 pull-right">
                <ul class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">
                  <li>
                    <strong>BTW #:</strong> 233243444
                  </li>
                  <li>
                    <strong>Bedrijfsnaam:</strong> Company B.V
                  </li>
                  <li>
                    <strong>IBAN:</strong> 1233F4343ABCDEW
                  </li>
                  <li>
                    <strong>Factuurdatum:</strong> <em id="date_output">01/01/2016</em>
                  </li>
                  <li>
                    <strong>Te betalen voor:</strong><em id="duedate_output"> 11/02/2016 </em>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="hidden-480"> Hoeveelheid </th>
                    <th class="hidden-480"> Beschrijving </th>
                    <th class="hidden-480"> Bedrag </th>
                    <th class="hidden-480"> Totaal </th>
                    <th class="hidden-480"> Btw(%) </th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr id="hiderow">
                    <td colspan="6"><a id="add_products" class="btn btn-success btn-sm" href="javascript:;" title="Rij toevoegen"><span class="ti-plus"></span>  Rij toevoegen</a></td>
                  </tr>
                  </tfoot>
                  <%= f.fields_for :products do |product| %>
                  <tbody>
                      <tr class="products_tr">
                        <td> <%= product.text_field :quantity, class: 'quantity form-control' %> </td>
                        <td> <%= product.text_area :description, class: 'form-control' %> </td>
                        <td> <%= product.text_field :unitprice, class: 'unitprice form-control' %> </td>
                        <td class="row_total"> </td>
                        <td> <%= product.select(:btw, [[' 21%', 21, title: '21%'],[' 6%', 6, title: '6%'], [' 0%', 0, title: '0%']], {}, {class: 'btw_percentage', id: nil})%> </td>
                        <td class='delete_tr'><a class="delete" title="Rij verwijderen"><span class="ti-close"></span></a></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 invoice-block">
                <ul class="list-unstyled amounts text-small">
                  <li>
                    <strong>Subtotaal:</strong>
                    <div class="field">
                      <%= f.hidden_field :subtotal, class: 'invoice_subtotal' %>
                      <p class="invoice_subtotal"></p>
                  </div>
                  </li>
                  <!-- <li>
                     <strong>Discount:</strong>
                   </li> -->
                  <li>
                    <strong>BTW:</strong>
                    <div class="field">
                      <%= f.hidden_field :btwtotal, class: 'invoice_btwtotal' %>
                      <p class="invoice_btwtotal"></p>
                    </div>
                  </li>
                  <li class="text-extra-large text-dark margin-top-15">
                    <strong>Totaal:</strong>
                    <div class="field">
                      <%= f.hidden_field :total, class: 'invoice_total' %>
                      <p class="invoice_total"></p>
                    </div>
                  </li>
                </ul>
                <% end %>
                <br>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <% @invoice.total = 0 if @invoice.total.nil? %> <% @invoice.duedate = Date.today + 2.weeks if @invoice.duedate.nil? %>
            <%= @invoice.footer.present? ? @invoice.footer : "We verzoeken u vriendelijk het bovenstaande bedrag van
            € #{'%.2f' % @invoice.total} voor #{@invoice.duedate.strftime('%d-%m-%Y')} te voldoen op onze bankrekening onder vermelding van het
            factuurnummer #{@invoice.number}. Voor vragen kunt u contact opnemen per e-mail." %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end: INVOICE -->

<script>
    //// show values of database selected item
    // $("#my_select").change(function()
    // {
    //   var selection = $(this).find(":selected");
    //   document.getElementById('show_company_name').innerHTML = selection._data("show-field").value;
    // });

    // Output invoicenumber on invoice.
    $(document).ready(function() {
      $("#factuurnummer_input").change(function()
      {
        $('#factuurnummer_output').text($(this).val()) ;
      });
    });


    // Output invoicedate on invoice header

    $("#factuurdatum_output").text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) );

    $("#invoice_date_3i").change(function()
    {
      $('#factuurdatum_output').text( ($(this).val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) ) ;
    });
    $("#invoice_date_2i").change(function()
    {
      $('#factuurdatum_output').text( ($("#invoice_date_3i").val()) + ' ' + ($(this).find(":selected").text()) + ' ' + ($("#invoice_date_1i").val()) ) ;
    });
    $("#invoice_date_1i").change(function()
    {
      $('#factuurdatum_output').text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' + ($(this).val()) ) ;
    });



    // Output invoicedate on invoice body
    $("#date_output").text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) );

    $("#invoice_date_3i").change(function()
    {
      $('#date_output').text( ($(this).val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) ) ;
    });
    $("#invoice_date_2i").change(function()
    {
      $('#date_output').text( ($("#invoice_date_3i").val()) + ' ' + ($(this).find(":selected").text()) + ' ' + ($("#invoice_date_1i").val()) ) ;
    });
    $("#invoice_date_1i").change(function()
    {
      $('#date_output').text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' + ($(this).val()) ) ;
    });

    // Output invoice duedate on invoice body

    $("#duedate_output").text(' ' + ($("#invoice_duedate_3i").val()) + ' ' + ($("#invoice_duedate_2i").find(":selected").text()) + ' ' +  ($("#invoice_duedate_1i").val()) );

    $("#invoice_duedate_3i").change(function()
    {
      $('#duedate_output').text(' ' +  ($(this).val()) + ' ' + ($("#invoice_duedate_2i").find(":selected").text()) + ' ' +  ($("#invoice_duedate_1i").val()) ) ;
    });
    $("#invoice_duedate_2i").change(function()
    {
      $('#duedate_output').text(' ' + ($("#invoice_duedate_3i").val()) + ' ' + ($(this).find(":selected").text()) + ' ' + ($("#invoice_duedate_1i").val()) ) ;
    });
    $("#invoice_duedate_1i").change(function()
    {
      $('#duedate_output').text(' ' + ($("#invoice_duedate_3i").val()) + ' ' + ($("#invoice_duedate_2i").find(":selected").text()) + ' ' + ($(this).val()) ) ;
    });

    // add a row to invoice
    $(document).ready(function() {
      var counter = $('.products_tr').length;
      $('#add_products').click(function() {
        $('.products_tr:last').after('<tr class="products_tr"><td><input class="quantity form-control" type="text" value="" name="invoice[products_attributes]['+counter+'][quantity]"></td>' +
            '<td><textarea class="form-control" name="invoice[products_attributes]['+counter+'][description]"></textarea></td>' +
            '<td><input id="unitprice" class="unitprice form-control" type="text" name="invoice[products_attributes]['+counter+'][unitprice]"></td>' +
            '<td class="row_total"></td>' +
            '<td><select class="btw_percentage" name="invoice[products_attributes]['+counter+'][btw]"><option title="21%" value="21"> 21%</option> ' +
            '<option title="6%" value="6"> 6%</option><option title="0%" value="0"> 0%</option></select></td>' +
            '<td class="delete_tr"><a class="delete" title="Rij verwijderen"><span class="ti-close"></span></a></td></tr>');
        counter ++;
      });
    });

    // delete a row from invoice
    $(document).on('click', '.delete_tr', function() {
      $(this).closest('tr').remove();
    });


    // hide 'delete row button' on invoice unless atleast rows > 1
    $(document).ready(function() {
      rowlength = $('.products_tr').length;
      if(rowlength > 1) {
        $('.delete_tr').show();
      } else {
        $('.delete_tr').hide();
      }
    });


    // hide 'add row button' after 10 rows
    $(document).ready(function() {
      $('.products_tr').change(function() {
        var length = $('.products_tr').length;
        if (length > 10) {
          $('#add_products').hide();
          alert('U kunt geen rijen meer toevoegen, maak een nieuwe factuur aan.')
        }
      })
    });


    // do row total, subtotal, btwtotal & invoice total calculation if quantity value changes
    $(document).on('change', '.quantity', function(){
      var total = 0,rowtotal = 0, invoice_btwtotaal = 0, invoice_subtotal = 0, invoice_total = 0;
      $('.products_tr').each(function(){
        var quantity       =  parseInt($(this).find('.quantity').val());
        var unitprice      =  parseFloat($(this).find('.unitprice').val());
        var btw_percentage =  parseInt($(this).find('.btw_percentage option:selected').val());
        var btw = (btw_percentage / 100 ) + 1;
        rowtotal           =  quantity * unitprice * btw;
        var currency = $('#invoice_currency option:selected').html();
        var fixed_rowtotal = currency + rowtotal.toFixed(2);
        if (parseFloat($(this).find('.unitprice').val())) {
          var invoice_btw = rowtotal - (quantity * unitprice);
          $(this).find('.row_total').text(fixed_rowtotal);
          invoice_btwtotaal += invoice_btw;
          $('.invoice_btwtotal').val(invoice_btwtotaal.toFixed(2));
          $('.invoice_btwtotal').text(currency + invoice_btwtotaal.toFixed(2));
          var formula = (parseFloat($(this).find('.unitprice').val())) * (parseInt($(this).find('.quantity').val()));
          invoice_subtotal += formula ;
          $('.invoice_subtotal').val(invoice_subtotal.toFixed(2));
          $('.invoice_subtotal').text(currency + invoice_subtotal.toFixed(2));
          var invoice_total = invoice_subtotal + invoice_btwtotaal;
          $('.invoice_total').val(invoice_total.toFixed(2));
          $('.invoice_total').text(currency + invoice_total.toFixed(2));
          total+=rowtotal;
        }
        else if (isNaN(rowtotal)) {
          $(this).find('.row_total').text(currency);
        }
        else {
          $(this).find('.row_total').text(currency);
        }
      });
    });

    // do row total, subtotal, btwtotal & invoice total calculation if unitprice value changes
    $(document).on('change', '.unitprice', function(){

      var total = 0,rowtotal = 0, invoice_btwtotaal = 0, invoice_subtotal = 0, invoice_total = 0;
      $('.products_tr').each(function(){
        $(this).find('.unitprice').val($(this).find('.unitprice').val().replace(/,/g, '.'));
        var quantity       =  parseInt($(this).find('.quantity').val());
        var unitprice      =  parseFloat($(this).find('.unitprice').val());
        var btw_percentage =  parseInt($(this).find('.btw_percentage option:selected').val());
        var btw = (btw_percentage / 100 ) + 1;
        rowtotal           =  quantity * unitprice * btw;
        var currency = $('#invoice_currency option:selected').html();
        var fixed_rowtotal = currency + rowtotal.toFixed(2);
        var invoice_btw = rowtotal - (quantity * unitprice);
        $(this).find('.row_total').text(fixed_rowtotal);
        invoice_btwtotaal += invoice_btw;
        $('.invoice_btwtotal').val(invoice_btwtotaal.toFixed(2));
        $('.invoice_btwtotal').text(currency + invoice_btwtotaal.toFixed(2));
        var formula = (parseFloat($(this).find('.unitprice').val())) * (parseInt($(this).find('.quantity').val()));
        invoice_subtotal += formula ;
        $('.invoice_subtotal').val(invoice_subtotal.toFixed(2));
        $('.invoice_subtotal').text(currency + invoice_subtotal.toFixed(2));
        var invoice_total = invoice_subtotal + invoice_btwtotaal;
        $('.invoice_total').val(invoice_total.toFixed(2));
        $('.invoice_total').text(currency + invoice_total.toFixed(2));
        total+=rowtotal;
      });
    });
    // do row total, subtotal, btwtotal & invoice total calculation if btw_percentage value changes
    $(document).on('change', '.btw_percentage', function(){
      var total = 0,rowtotal = 0, invoice_btwtotaal = 0, invoice_subtotal = 0, invoice_total = 0;
      $('.products_tr').each(function(){
        var quantity       =  parseInt($(this).find('.quantity').val());
        var unitprice      =  parseFloat($(this).find('.unitprice').val());
        var btw_percentage =  parseInt($(this).find('.btw_percentage option:selected').val());
        var btw = (btw_percentage / 100 ) + 1;
        rowtotal           =  quantity * unitprice * btw;
        var currency = $('#invoice_currency option:selected').html();
        var fixed_rowtotal = currency + rowtotal.toFixed(2);
        var invoice_btw = rowtotal - (quantity * unitprice);
        $(this).find('.row_total').text(fixed_rowtotal);
        invoice_btwtotaal += invoice_btw;
        $('.invoice_btwtotal').val(invoice_btwtotaal.toFixed(2));
        $('.invoice_btwtotal').text(currency + invoice_btwtotaal.toFixed(2));
        var formula = (parseFloat($(this).find('.unitprice').val())) * (parseInt($(this).find('.quantity').val()));
        invoice_subtotal += formula ;
        $('.invoice_subtotal').val(invoice_subtotal.toFixed(2));
        $('.invoice_subtotal').text(currency + invoice_subtotal.toFixed(2));
        var invoice_total = invoice_subtotal + invoice_btwtotaal;
        $('.invoice_total').val(invoice_total.toFixed(2));
        $('.invoice_total').text(currency + invoice_total.toFixed(2));
        total+=rowtotal;
      });
    });
  // do row total, subtotal, btwtotal & invoice total calculation if currency value changes
    $(document).on('change', '#invoice_currency', function Calculate() {
      var total = 0,rowtotal = 0, invoice_btwtotaal = 0, invoice_subtotal = 0, invoice_total = 0;
      $('.products_tr').each(function(){
        var quantity       =  parseInt($(this).find('.quantity').val());
        var unitprice      =  parseFloat($(this).find('.unitprice').val());
        var btw_percentage =  parseInt($(this).find('.btw_percentage option:selected').val());
        var btw = (btw_percentage / 100 ) + 1;
        rowtotal           =  quantity * unitprice * btw;
        var currency = $('#invoice_currency option:selected').html();
        var fixed_rowtotal = currency + rowtotal.toFixed(2);
        if (parseFloat($(this).find('.unitprice').val())) {
          var invoice_btw = rowtotal - (quantity * unitprice);
          $(this).find('.row_total').text(fixed_rowtotal);
          invoice_btwtotaal += invoice_btw;
          $('.invoice_btwtotal').val(currency + invoice_btwtotaal.toFixed(2));
          $('.invoice_btwtotal').text(currency + invoice_btwtotaal.toFixed(2));
          var formula = (parseFloat($(this).find('.unitprice').val())) * (parseInt($(this).find('.quantity').val()));
          invoice_subtotal += formula ;
          $('.invoice_subtotal').val(invoice_subtotal.toFixed(2));
          $('.invoice_subtotal').text(currency + invoice_subtotal.toFixed(2));
          var invoice_total = invoice_subtotal + invoice_btwtotaal;
          $('.invoice_total').val(invoice_total.toFixed(2));
          $('.invoice_total').text(currency + invoice_total.toFixed(2));
          total+=rowtotal;
        }
        else if (isNaN(rowtotal)) {
          $(this).find('.row_total').text(currency);
        }
        else {
          $(this).find('.row_total').text(currency);
        }
        $('.euro-sign').text(currency);
      });
    });

    $(document).ready(function() {
      var total = 0,rowtotal = 0, invoice_btwtotaal = 0, invoice_subtotal = 0, invoice_total = 0;
      $('.products_tr').each(function(){
        var quantity       =  parseInt($(this).find('.quantity').val());
        var unitprice      =  parseFloat($(this).find('.unitprice').val());
        var btw_percentage =  parseInt($(this).find('.btw_percentage option:selected').val());
        var btw = (btw_percentage / 100 ) + 1;
        rowtotal           =  quantity * unitprice * btw;
        var currency = $('#invoice_currency option:selected').html();
        var fixed_rowtotal = currency + rowtotal.toFixed(2);
        if (parseFloat($(this).find('.unitprice').val())) {
          var invoice_btw = rowtotal - (quantity * unitprice);
          $(this).find('.row_total').text(fixed_rowtotal);
          invoice_btwtotaal += invoice_btw;
          $('.invoice_btwtotal').val(invoice_btwtotaal.toFixed(2));
          $('.invoice_btwtotal').text(currency + invoice_btwtotaal.toFixed(2));
          var formula = (parseFloat($(this).find('.unitprice').val())) * (parseInt($(this).find('.quantity').val()));
          invoice_subtotal += formula ;
          $('.invoice_subtotal').val(invoice_subtotal.toFixed(2));
          $('.invoice_subtotal').text(currency + invoice_subtotal.toFixed(2));
          var invoice_total = invoice_subtotal + invoice_btwtotaal;
          $('.invoice_total').val(invoice_total.toFixed(2));
          $('.invoice_total').text(currency + invoice_total.toFixed(2));
          total+=rowtotal;
        }
        else if (isNaN(rowtotal)) {
          $(this).find('.row_total').text(currency);
        }
        else {
          $(this).find('.row_total').text(currency);
        }
      });
    });
//  replace dot with comma in row_total
//    $(document).on('change', '.row_total', function() {
//      this.text(this.text.replace(/./g, ','));
//    });




//    $(document).on('change', '.btw_percentage', function() {
//      var invoice_btwtotal = 0;
//      var currency = $('#invoice_currency option:selected').html();
//      $('.row_total').each(function() {})
//    });

</script>


