<%= form_for @invoice do |f| %>
<% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-fluid container-fullw">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-white">
        <div class="panel-body">
            <div class="field">
              <%= f.label :Factuurnummer %><br>
              <%= f.text_field :number, placeholder: '2016-0001', id: 'factuurnummer_input' %>
            </div>
            <div class="field">
              <%= f.label :Munteenheid %><br>
              <%= f.select(:currency, [[' €', 1, title: 'Euro', value: 'EURO'], [' $', 2, title: 'US Dollar', value: 'USD'],
                                       [' £', 3, title: 'GBP Pound', value: 'GBP']]) %>
            </div>
            <div class="field">
              <%= f.label :factuurdatum %><br>
              <%= f.date_select :date %>
            </div>
            <div class="field">
              <%= f.label 'te betalen voor' %><br>
              <%= f.date_select :duedate %>
            </div>
            <div class="field">
              <%= f.label :footer %><br>
              <%= f.text_area :footer, id: 'footer-text' %>
            </div>
            <div class="actions">
              <%= f.submit 'Opslaan', class: 'btn btn-primary btn-success' %>
              <%= link_to 'Annuleren', invoices_path, class: 'btn btn-primary btn-info' %>
              <a onclick="javascript:window.print();" class="btn btn-primary float-right"> Print <i class="fa fa-print"></i></a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-white">
        <div class="panel-body">
          <div class="invoice">
            <div class="row invoice-logo">
              <div class="col-sm-6">
                <img alt="" src="">
              </div>
              <div class="col-sm-6">
                <p class="text-dark">
                  <strong id="factuurnummer_output"></strong> <small class="text-light" id="factuurdatum_output"></small>
                </p>
              </div>
            </div><hr>
            <div class="row">
              <div class="col-sm-4">
                    <h4>Klant:</h4>
                    <div class="well">
                      <address>
                        <%= f.object.build_customer if f.object.customer.nil? %>
                        <%= f.fields_for :customer do |customer| %>
                        <%= render 'customer_fields', f: customer %>
                        <%= link_to_add_association '+',f, :customer, class: 'btn btn-small btn-success' %>
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                        <% end %>
                      </address>
                      <address>
                        <strong class="text-dark">E-mail:</strong>
                        <a href="mailto:#"> info@customer.com </a>
                      </address>
                    </div>
              </div>
              <div class="col-sm-4 pull-right">
                <h4>Gegevens:</h4>
                <ul class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">
                  <li>
                    <strong>BTW #:</strong> 233243444
                  </li>
                  <li>
                    <strong>Bedrijfsnaam:</strong> Company B.V
                  </li>
                  <li>
                    <strong>IBAN:</strong> 1233F4343ABCDEW
                  </li>
                  <li>
                    <strong>Factuurdatum:</strong> <em id="date_output">01/01/2016</em>
                  </li>
                  <li>
                    <strong>Te betalen voor:</strong><em id="duedate_output"> 11/02/2016 </em>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="hidden-480"> Hoeveelheid </th>
                    <th class="hidden-480"> Beschrijving </th>
                    <th class="hidden-480"> Bedrag </th>
                    <th class="hidden-480"> Totaal </th>
                    <th class="hidden-480"> Btw(%) </th>
                  </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :products do |product| %>
                    <%= render 'product_fields', f: product %>
                    <%= link_to_add_association 'Item toevoegen', f, :products, class: 'btn btn-primary btn-success' %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 invoice-block">
                <ul class="list-unstyled amounts text-small">
                  <li>
                    <strong>Subtotaal:</strong>
                    <div class="field">
                    <%= f.text_field :subtotal %>
                  </div>
                  </li>
                  <!-- <li>
                     <strong>Discount:</strong>
                   </li> -->
                  <li>
                    <strong>BTW:</strong>
                    <div class="field">
                      <%= f.text_field :btwtotal %>
                    </div>
                  </li>
                  <li class="text-extra-large text-dark margin-top-15">
                    <strong >Totaal:</strong>
                    <div class="field">
                      <%= f.text_field :total %>
                    </div>
                  </li>
                </ul>
                <% end %>
                <br>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <%= @invoice.footer.present? ? @invoice.footer : "We verzoeken u vriendelijk het bovenstaande bedrag van
            € #{@invoice.total} voor #{@invoice.duedate} te voldoen op onze bankrekening onder vermelding van het
            factuurnummer #{@invoice.number}. Voor vragen kunt u contact opnemen per e-mail." %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end: INVOICE -->

<script>
  //// show values of database selected item
 // $("#my_select").change(function()
 // {
 //   var selection = $(this).find(":selected");
 //   document.getElementById('show_company_name').innerHTML = selection._data("show-field").value;
 // });

  // Output invoicenumber on invoice.
  $("#factuurnummer_input").change(function()
  {
    $('#factuurnummer_output').text($(this).val()) ;
  });

  // Output invoicedate on invoice header

  $("#factuurdatum_output").text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) );

  $("#invoice_date_3i").change(function()
  {
    $('#factuurdatum_output').text( ($(this).val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) ) ;
  });
  $("#invoice_date_2i").change(function()
  {
    $('#factuurdatum_output').text( ($("#invoice_date_3i").val()) + ' ' + ($(this).find(":selected").text()) + ' ' + ($("#invoice_date_1i").val()) ) ;
  });
  $("#invoice_date_1i").change(function()
  {
    $('#factuurdatum_output').text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' + ($(this).val()) ) ;
  });

  // Output invoicedate on invoice body
  $("#date_output").text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) );

  $("#invoice_date_3i").change(function()
  {
    $('#date_output').text( ($(this).val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' +  ($("#invoice_date_1i").val()) ) ;
  });
  $("#invoice_date_2i").change(function()
  {
    $('#date_output').text( ($("#invoice_date_3i").val()) + ' ' + ($(this).find(":selected").text()) + ' ' + ($("#invoice_date_1i").val()) ) ;
  });
  $("#invoice_date_1i").change(function()
  {
    $('#date_output').text( ($("#invoice_date_3i").val()) + ' ' + ($("#invoice_date_2i").find(":selected").text()) + ' ' + ($(this).val()) ) ;
  });

  // Output invoice duedate on invoice body

  $("#duedate_output").text(' ' + ($("#invoice_duedate_3i").val()) + ' ' + ($("#invoice_duedate_2i").find(":selected").text()) + ' ' +  ($("#invoice_duedate_1i").val()) );

  $("#invoice_duedate_3i").change(function()
  {
    $('#duedate_output').text(' ' +  ($(this).val()) + ' ' + ($("#invoice_duedate_2i").find(":selected").text()) + ' ' +  ($("#invoice_duedate_1i").val()) ) ;
  });
  $("#invoice_duedate_2i").change(function()
  {
    $('#duedate_output').text(' ' + ($("#invoice_duedate_3i").val()) + ' ' + ($(this).find(":selected").text()) + ' ' + ($("#invoice_duedate_1i").val()) ) ;
  });
  $("#invoice_duedate_1i").change(function()
  {
    $('#duedate_output').text(' ' + ($("#invoice_duedate_3i").val()) + ' ' + ($("#invoice_duedate_2i").find(":selected").text()) + ' ' + ($(this).val()) ) ;
  });
</script>


