
<td> <%= product.number_field :quantity, class: 'quantity' %> </td>
<td> <%= product.text_area :description %> </td>
<td> <%= product.number_field :unitprice, class: 'unitprice' %> </td>
<td class='total'>  </td>
<td> <%= product.select(:btw, [[' 21%', 21, title: '21%'],[' 6%', 6, title: '6%'], [' 0%', 0, title: '0%']], class: 'btw_percentage') %> </td>
  <%= link_to_remove_association 'x', f, class: 'btn btn-primary btn-danger' %>
