<div class="breadcrumb-wrapper">
  <h4 class="mainTitle no-margin">Welkom bij OQ Business administrations</h4>
  <span class="mainDescription">overview &amp; stats </span>
  <ul class="pull-right breadcrumb">
    <li>
      <a href="/"><i class="fa fa-home margin-right-5 text-large text-dark"></i>Home</a>
    </li>
  </ul>
</div>
<!-- end: BREADCRUMB -->
<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
  <div class="row no-margin">
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-azure height-300 no-radius no-border">
        <div class="panel-heading padding-5 padding-bottom-0">
          <span class="triangle-top-right text-white pull-right"></span>
        </div>
        <div class="panel-body no-padding">
          <div class="block text-dark text-center">
            <span class="counter text-bold text-white">Diensten</span><hr/>
              <ul class='text-sm text-black'>
                <li>Administratie</li>
                <li>begeleiding</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              Administratie, begeleiding startende ondernemers,
              jaarrekening, controle/begeleiding boekhouding, aangifte omzetbelasting & inkomstenbelasting
          </div><br><br/><br/><br/><br/>
          <%= button_to('Lees verder', diensten_path, class: 'btn btn-md btn-red center-block') %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-white height-300 no-radius no-border">
        <div class="panel-heading padding-5 padding-bottom-0">
          <span class="triangle-top-right text-light pull-right"></span>
        </div>
        <div class="panel-body no-padding">
          <div class="block text-dark text-center">
            <span class="counter text-bold text-black">Over ons</span><hr/>
            <span class="text-sm text-black">
              Wij willen onze  doelen bereiken door een hechte band te creëren met onze relaties.
              Het hoeft niet altijd om geld te gaan! De relaties kunnen altijd direct contact opnemen voor advies.
            </span>
          </div><br><br/><br/><br/><br/>
          <%= button_to('Meer te weten komen..', over_ons_path, class: 'btn btn-md btn-red center-block') %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-purple height-300 no-radius no-border">
        <div class="panel-heading padding-5 padding-bottom-0">
          <span class="triangle-top-right text-white pull-right"></span>
        </div>
        <div class="panel-body no-padding">
          <div class="block text-dark text-center">
            <span class="counter text-bold text-white">Pakketten</span><hr/>
            <span class="text-sm text-white">
              Wilt u een ZZP SIMPEL PAKKET, ZZP PLUS PAKKET,
              V.O.F PAKKET of toch net iets anders? bekijk de mogelijkheden..
            </span>
          </div><br><br/><br/><br/><br/><br/>
          <%= button_to('Bekijk de mogelijkheden', pakketten_path, class: 'btn btn-md btn-red center-block') %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-white panel-carousel height-300 no-radius no-border">
        <div class="panel-heading padding-5 padding-bottom-0">
          <span class="triangle-top-right text-white pull-right"></span>
        </div>
        <div class="panel-body no-padding">
          <div class="block text-dark text-center">
            <span class="counter text-bold text-black">Contact</span><hr/>
            <span class="text-sm text-black">
              Heeft u nog vragen dan kunt altijd contact opnemen met ons.
            </span>
          </div><br><br/><br/><br/><br/><br/><br/>
          <%= button_to('Bekijk de mogelijkheden', pakketten_path, class: 'btn btn-md btn-red center-block') %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end: FIRST SECTION -->


<!-- start: MIJN OQBA SECTION -->
<div class="container-fluid container-fullw padding-bottom-10">
  <div class="row no-margin">
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-white panel-carousel height-300 no-radius no-border">
        <div class="panel-body no-padding">
          <!-- start: CAROUSEL -->
          <div data-slick='{"slidesToShow": 1, "speed": 300, "dots": true, "arrows": false}' class="carousel">
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/06.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Facturen maken" data-size="lg" data-box="round" data-color="#947499"></div><h3 class="inline-block">Facturen maken</h3>
              <div class="block margin-top-10 ">

              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Klantenbestand</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Productmanagement</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
          </div>
          <!-- end: CAROUSEL -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-white panel-carousel height-300 no-radius no-border">
        <div class="panel-body no-padding">
          <!-- start: CAROUSEL -->
          <div data-slick='{"slidesToShow": 1, "speed": 300, "dots": true, "arrows": false}' class="carousel">
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/06.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Productmanagement" data-size="lg" data-box="round" data-color="#947499"></div><h3 class="inline-block">Productmanagement</h3>
              <div class="block margin-top-10 ">

              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Klantenbestand</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Productmanagement</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
          </div>
          <!-- end: CAROUSEL -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-white panel-carousel height-300 no-radius no-border">
        <div class="panel-body no-padding">
          <!-- start: CAROUSEL -->
          <div data-slick='{"slidesToShow": 1, "speed": 300, "dots": true, "arrows": false}' class="carousel">
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/06.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Offertes maken" data-size="lg" data-box="round" data-color="#947499"></div><h3 class="inline-block">Offertes maken</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">75%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Klantenbestand</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Productmanagement</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
          </div>
          <!-- end: CAROUSEL -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
      <div class="panel panel-white panel-carousel height-300 no-radius no-border">
        <div class="panel-body no-padding">
          <!-- start: CAROUSEL -->
          <div data-slick='{"slidesToShow": 1, "speed": 300, "dots": true, "arrows": false}' class="carousel">
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/06.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Klantenbestand" data-size="lg" data-box="round" data-color="#947499"></div><h3 class="inline-block">Klantenbestand</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-black margin-top-10 margin-right-5">75%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Klantenbestand</h3>
              <div class="block margin-top-10 ">
                <span class="label background-dark text-white margin-top-10 margin-right-5">45%</span><span class="cl-effect-19"></span>
                <a href="#" class="text-extra-small"> track progress </a>
              </div>
            </div>
            <div class="slide padding-20 height-300" style="background: url('assets/images/carousel/07.jpg')">
              <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">Mijn OQBA <i class="fa fa-arrow-circle-o-right"></i></h5>
              <div class="lettericon margin-right-5" data-text="Omega" data-size="lg" data-box="round" data-color="#7F8C8D"></div><h3 class="inline-block">Productmanagement</h3>
              <div class="block margin-top-10 ">

              </div>
            </div>
          </div>
          <!-- end: CAROUSEL -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-md-12'>
        <%= button_to('Mijn OQBA', invoices_path, class: 'btn btn-red btn-block') %>
      </div>
    </div><br/><br/>
  </div>
</div>
<!-- end: MIJN OQBA SECTION -->


