<%= form_for @customer, :html => { :class => "form-horizontal customer" } do |f| %>

  <% if @customer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :company_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :company_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:company_name) %>
  </div>
  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:first_name) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  <div class="form-group">
    <%= f.label :send_to_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :send_to_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:send_to_name) %>
  </div>
  <div class="form-group">
    <%= f.label :address_line_1, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address_line_1, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address_line_1) %>
  </div>
  <div class="form-group">
    <%= f.label :address_line_2, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address_line_2, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address_line_2) %>
  </div>
  <div class="form-group">
    <%= f.label :zip_code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :zip_code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:zip_code) %>
  </div>
  <div class="form-group">
    <%= f.label :country_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :country_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:country_name) %>
  </div>
  <div class="form-group">
    <%= f.label :email_address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email_address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email_address) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>
  <div class="form-group">
    <%= f.label :kvk_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :kvk_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:kvk_number) %>
  </div>
  <div class="form-group">
    <%= f.label :btw_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :btw_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:btw_number) %>
  </div>
  <div class="form-group">
    <%= f.label :iban_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :iban_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:iban_number) %>
  </div>
  <div class="form-group">
    <%= f.label :bic_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bic_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bic_number) %>
  </div>
  <div class="form-group">
    <%= f.label :bank_holder_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bank_holder_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bank_holder_name) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
