<%= form_for @company, :html => { :class => "form-horizontal company" } do |f| %>
<div class="col-md-8 col-md-offset-3">
  <% if @company.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Bedrijfsnaam', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :company_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:company_name) %>
  </div>
  <div class="form-group">
    <%= f.label 'Adres 1', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :address_line_1, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address_line_1) %>
  </div>
  <div class="form-group">
    <%= f.label 'Adres 2', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :address_line_2, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address_line_2) %>
  </div>
  <div class="form-group">
    <%= f.label 'Postcode', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :zip_code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:zip_code) %>
  </div>
  <div class="form-group">
    <%= f.label 'Stad', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :city_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:city_name) %>
  </div>
  <div class="form-group">
    <%= f.label 'Land', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :country_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:country_name) %>
  </div>
  <div class="form-group">
    <%= f.label 'Email adres', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :email_address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email_address) %>
  </div>
  <div class="form-group">
    <%= f.label 'Telefoonnummer', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>
  <div class="form-group">
    <%= f.label 'KVK nummer', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :kvk_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:kvk_number) %>
  </div>
  <div class="form-group">
    <%= f.label 'BTW nummer', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :btw_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:btw_number) %>
  </div>
  <div class="form-group">
    <%= f.label 'IBAN', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :iban_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:iban_number) %>
  </div>
  <div class="form-group">
    <%= f.label 'BIC', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :bic_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bic_number) %>
  </div>
  <div class="form-group">
    <%= f.label 'Naam bankhouder', :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :bank_holder_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bank_holder_name) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary btn-success' %>
      <%= link_to t('.cancel', :default => 'annuleren'),
                companies_path, :class => 'btn btn-primary btn-info' %>
    </div>
  </div>

<% end %>
</div><br/><br/>