<%- model_class = Company -%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-white">
      <div class="panel-body">
        <h5 class="over-title margin-bottom-15">Mijn <span class="text-bold">sjablonen</span></h5>
        <div class="alert alert-info">
          Hier ziet u uw sjablonen die kunnen worden geplaatst in facturen en offertes.<br/> U kunt meerdere records toevoegen om zo eenvoudig te kunnen schakelen tussen verschillende bedrijven.
        </div>
        <%= link_to t('.new', :default => ' Nieuwe toevoegen'),
                    new_company_path,
                    :class => 'btn btn-primary btn-lg pull-right fa fa-arrow-circle-down' %><br/><br/>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th><%= model_class.human_attribute_name('#') %></th>
              <th><%= model_class.human_attribute_name(:Bedrijfsnaam) %></th>
              <th><%= model_class.human_attribute_name(:IBAN) %></th>
              <th><%= model_class.human_attribute_name(:BTW) %></th>
              <th><%= model_class.human_attribute_name(:Logo) %></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tbody>
            <% @companies.each do |company| %>
                <tr>
                  <td><%= link_to company.id, company_path(company) %></td>
                  <td><%= company.company_name %></td>
                  <td><%= company.iban_number %></td>
                  <td><%= company.btw_number %></td>
                  <td><%= image_tag company.picture.url %></td>
                  <td>
                    <%= link_to '',
                                company_path(company), class: 'btn btn-primary btn-info glyphicon glyphicon-search' %>
                    <%= link_to t('.edit', :default => t("helpers.links.Aanpassen")),
                                edit_company_path(company), :class => 'btn btn-primary btn-success' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.x")),
                                company_path(company),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.bevestigen", :default => 'Weet u het zeker?')) },
                                :class => 'btn btn-primary btn-danger' %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

