<%- model_class = Company -%>
<hr/>
<div class="col-md-12 col-md-offset-4">
  <h1><strong><%=t '.title', :default => @company.company_name %></strong></h1>
</div>

<div class="col-md-12 col-md-offset-4">
  <strong><code><%= model_class.human_attribute_name('Bedrijfsnaam') %>:</code>  <%= @company.company_name %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Adres 1') %>:</code> <%= @company.address_line_1 %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Adres 2') %>:</code>  <%= @company.address_line_2 %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Postcode') %>:</code>  <%= @company.zip_code %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Stad') %>:</code>  <%= @company.city_name %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Land') %>:</code>  <%= @company.country_name %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Email adres') %>:</code>   <%= @company.email_address %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Telefoonnummer') %>:</code>  <%= @company.phone_number %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('KVK nummer') %>:</code>  <%= @company.kvk_number %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('BTW nummer') %>:</code>  <%= @company.btw_number %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Iban') %>:</code>  <%= @company.iban_number %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('BIC') %>:</code>  <%= @company.bic_number %></strong><br/>
  <strong><code><%= model_class.human_attribute_name('Naam Bankhouder') %>:</code>  <%= @company.bank_holder_name %></strong><br/><br/>
  <%= image_tag @company.picture.url if @company.picture? %><br/><br/>
</div>

<div class="col-md-3 col-md-offset-4">
  <%= link_to t('.back', :default => t("helpers.links.terug")),
                companies_path, :class => 'btn btn-primary btn-info'  %>
  <%= link_to t('.edit', :default => t("helpers.links.aanpassen")),
                edit_company_path(@company), :class => 'btn btn-primary btn-success' %>
  <%= link_to t('.destroy', :default => t("helpers.links.verwijderen")),
                company_path(@company),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.bevestigen", :default => 'Weet u het zeker?')) },
                :class => 'btn btn-primary btn-danger' %>
</div><br/><br/>