<!-- start: LOGIN BOX -->
<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-white load1">
    <div class="panel-heading border-light">
      <div class="logo text-center">
        <a href="/"><img src="/LAYOUT-4/STANDARD/assets/images/logo.png" alt="OQBA Boekhouderskantoor Rotterdam" width="40%" /></a>
      </div><hr/>
      <h4 class="panel-title text-center"><span class="text-bold">Inloggen</span></h4>
    </div>
      <div class="panel-body">
        <div class="box-login">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <form class="form-login">
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, class: 'form-control', autofocus: true %>
                </div>
                <div class="form-group form-actions">
                  <%= f.label :wachtwoord %> (<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Wachtwoord vergeten?", gebruiker_nieuwe_wachtwoord_path %>
                  <% end -%>)<br />
                  <%= f.password_field :password, class: 'form-control password', autocomplete: "off" %>
                </div>
                  <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label 'Onthoud Mij op deze computer' %>
                      </div>
                  <% end -%>
                <div class="form-actions">
                  <%= f.submit "Log in", class: 'btn btn-red btn-block' %>
                </div><br/>
                <p class="text-small float-left">
                  Heeft u nog geen account? -  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                      <%= link_to "Registreren", gebruiker_registreren_path %>
                  <% end -%> ||
                  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                      <%= link_to "Geen bevestigingsemail ontvangen?", gebruiker_bevestigingsinstructies_path %><br />
                  <% end -%>
                </p>
              </form>
          <% end %>
        </div>
      </div>
  </div>
</div>


