<p id="notice"><%= notice %></p>

<h1>Listing Factuurs</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Currency</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factuurs.each do |factuur| %>
      <tr>
        <td><%= factuur.amount %></td>
        <td><%= factuur.currency %></td>
        <td><%= factuur.date %></td>
        <td><%= link_to 'Show', factuur %></td>
        <td><%= link_to 'Edit', edit_factuur_path(factuur) %></td>
        <td><%= link_to 'Destroy', factuur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factuur', new_factuur_path %>
