<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Unitprice:</strong>
  <%= @product.unitprice %>
</p>

<p>
  <strong>Total:</strong>
  <%= @product.total %>
</p>

<p>
  <strong>Btw:</strong>
  <%= @product.btw %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
